<MarketplaceDetails>
  <SmallAppTile>duco.png</SmallAppTile>
  <ScreenShots>sc1_WVGA.png;sc2_WVGA.png;sc3_WVGA.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>sc1_WXGA.png;sc2_WXGA.png;sc3_WXGA.png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>sc1_720.png;sc2_720.png;sc3_720.png;;;;;;</ScreenShots720P>
</MarketplaceDetails>